body
{
    border: 0px;
    padding: 0px;
}

header
{
    border: 2px mediumorchid solid;
    border-radius: 20px;
}

section
{
    background-color: #A9FFCB;
    border: 2px #A9FFCB solid;
    border-radius: 20px;
    padding: 5px;
}

article
{
    background-color: rgba(133, 255, 194, 0.603);
    border: 2px #E2E8DD solid;
    border-radius: 17px;
}

h1
{
    text-align: center;
    font-weight: bold;
}

h2
{
    text-align: center;
}

p
{
    font-size: 2em;
    text-justify: distribute;
    text-align: justify;
}